/* NO USAR MARGIN */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;

    padding: unset;
    margin: unset;
    border: unset;

    box-sizing: border-box;
}

.navbar {
    padding: 16px 60px;
    background-color: #00000061;
    border-radius: 15px;
}
.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: auto;
}

.navbar__nav__list {
    display: flex;
    gap: 23px;
    list-style: none;
}
.navbar__nav__list li {
    color: #ffff;
    font-weight: bold;
}

.navbar__nav__button {
    padding: 20px 37px;
    border-radius: 15px;
    background-color: #AF7000;
    font-weight: bold;
    color: #ffff;
}

.background {
    padding: 10px 60px;
}

.jumbotron {
    display: flex;
    align-items: center;
    padding: 70px 0;
}
.jumbotron__title {
    font-size: 56px;
    font-weight: bold;
}