/* NO USAR MARGIN */

* { /* este es para limpiar la pagina para empezar con un lienzo limpio (seteado)*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;

    padding: unset;
    margin: unset;
    border: unset;

    box-sizing: border-box;
}

.navbar { /*este es el div del header*/
    padding: 16px 60px;
    background-color: #00000061;
    border-radius: 15px;

    backdrop-filter: blur(10px);
}
.navbar__nav { /* esta es la barra de navegacion*/
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: auto;
}

.navbar__nav__list { /*esta es la lista*/
    display: flex;
    gap: 23px;
    list-style: none;
}
.navbar__nav__list li { /*estos los elementos de la lista*/
    color: #ffff;
    font-weight: bold;
}

.navbar__nav__button { /*este es el boton*/
    padding: 20px 37px;
    border-radius: 15px;
    background-color: #AF7000;
    font-weight: bold;
    color: #ffff;
}

.background { /*este es el fondo del header y aqui ponemos los padding*/
    padding: 10px 60px;

    background-image: url(/assets/FondoJumbotron.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron { /*este es el jumbotron*/
    display: flex;
    align-items: center;
    padding: 70px 0;
}
.jumbotron__title { /*este es el titulo del jumbotron*/
    font-size: 56px;
    font-weight: bold;
    color: #ffff;

    line-height: 110%;
}


.tarjetasPrincipales { /*esta es la lista*/
    display: flex;
    justify-content: center;
    align-items:center;
    gap: auto;
    background-color: #090909;
}

.tarjetasPrincipales__flechaIzquierda{
    width: 24px;
    height:24px ;
    justify-content: left ;
    align-items: center;
}

.tarjetasPrincipales__flechaDerecha{
    width: 24px;
    height:24px ;
    justify-content: right ;
    align-items: center;
}

.tarjetasPrincipales__seccionDetarjetas {
    width: 1445px;
    height:725px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    
    
}

.tarjetasPrincipales__seccionDetarjetas__romance {
    width: 463px;
    height:725px ;
    /*background-color: #ffffff;*/background-image: linear-gradient(120deg, #ffffff, #ffffff49 );
    background-image: linear-gradient(120deg, #ffffff, #ffffff49 );
    justify-content: left;
    align-items: center;
    gap: -95px;
    padding: 15px 15px;
}

.tarjetasPrincipales__seccionDetarjetas__romance__imgRomance {
    width: 433px;
    height: 419px;
}

.tarjetasPrincipales__seccionDetarjetas__romance__nombreAlbum {
font-size: 20px;
color: #ffffff;
}

.tarjetasPrincipales__seccionDetarjetas__romance__nombreArtista {
font-size: 16px;
color: #ffffff;
}


.tarjetasPrincipales__seccionDetarjetas__romance__parrafoRomance{
    font-size: 12px;
    color: #ffffff;
}


.tarjetasPrincipales__seccionDetarjetas__romance__botonesRomance{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px;
}

.tarjetasPrincipales__seccionDetarjetas__romance__botonSpotify {
 background-color: #221D1D;   
 padding: 7px 7px;
 border-radius: 14px;
}


.tarjetasPrincipales__seccionDetarjetas__romance__botonYoutube {
    background-color: #221D1D;   
    padding: 3px 10px;
    border-radius: 14px;
   }


   .tarjetasPrincipales__seccionDetarjetas__romance__botonApple {
    background-color: #221D1D;   
    padding: 7px 7px;
    border-radius: 14px;
   }

   .tarjetasPrincipales__seccionDetarjetas__romance__botonDescarga{
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #221D1D;   
    padding: 7px 7px;
    border-radius: 14px;
    color: #ffffff;
   }







.tarjetasPrincipales__seccionDetarjetas__takeMeHome {
    width: 463px;
    height:725px ;
    background-image: linear-gradient(150deg, #ffffff13, #61616105 );
    justify-content: center;
    align-items: center;
    gap: -95px;
    padding: 15px 15px;
}

.tarjetasPrincipales__seccionDetarjetas__takeMeHome__imgTakeMeHome {
    width: 433px;
    height: 419px;
}

.tarjetasPrincipales__seccionDetarjetas__takeMeHome__nombreAlbum {
font-size: 20px;
color: #ffffff;
}

.tarjetasPrincipales__seccionDetarjetas__takeMeHome__nombreArtista {
font-size: 16px;
color: #ffffff;
}

.tarjetasPrincipales__seccionDetarjetas__takeMeHome__textoTarjeta{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 170px;
    padding: 7px;
}


.tarjetasPrincipales__seccionDetarjetas__takeMeHome__seccionPuntuacion{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #AF7000;

}
.tarjetasPrincipales__seccionDetarjetas__takeMeHome__numeroPuntuacion{
    color: #ffffff;
}

.tarjetasPrincipales__seccionDetarjetas__takeMeHome__seccionEstrellas{
    display: flex;
    gap: 3px;
}

.tarjetasPrincipales__seccionDetarjetas__takeMeHome__parrafoTakeMeHome{
    font-size: 12px;
    color: #ffffff;
}



.tarjetasPrincipales__seccionDetarjetas__takeMeHome__botonesTakeMeHome{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px;
}

.tarjetasPrincipales__seccionDetarjetas__takeMeHome__botonSpotify {
 background-color: #221D1D;   
 padding: 7px 7px;
 border-radius: 14px;
}


.tarjetasPrincipales__seccionDetarjetas__takeMeHome__botonYoutube {
    background-color: #221D1D;   
    padding: 3px 10px;
    border-radius: 14px;
   }


   .tarjetasPrincipales__seccionDetarjetas__takeMeHome__botonApple {
    background-color: #221D1D;   
    padding: 7px 7px;
    border-radius: 14px;
   }

   .tarjetasPrincipales__seccionDetarjetas__takeMeHome__botonDescarga{
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #221D1D;   
    padding: 7px 7px;
    border-radius: 14px;
    color: #ffffff;
   }






.tarjetasPrincipales__seccionDetarjetas__hitMeHardandSoft {
    width: 463px;
    height:725px ;
    
    justify-content: right;
    align-items: center;
    gap: -95px;
    padding: 15px 15px;
}

.tarjetasPrincipales__seccionDetarjetas__hitMeHardandSoft__imgHitMeHardandSoft {
    width: 433px;
    height: 419px;
}

.tarjetasPrincipales__seccionDetarjetas__hitMeHardandSoft__nombreAlbum {
font-size: 20px;
color: #ffffff}

.tarjetasPrincipales__seccionDetarjetas__hitMeHardandSoft__nombreArtista {
font-size: 16px;
color: #ffffff;
}
.tarjetasPrincipales__seccionDetarjetas__hitMeHardandSoft__parrafoHitMeHardandSoft{
    font-size: 12px;
    color: #ffffff;
}


/*.tarjetasCentrales{
    display: flex;
    flex-wrap: wrap;
} */